* {
  margin: 0;
  padding: 0;
}

.pagina {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "cabecera"
    "contenido"
    "footer";
  .cabecera {
    grid-area: cabecera;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: #880015;
    color: white;
    font-weight: bold;
    h1 {
      font-weight: bold;
      font-size: 35px;
      margin: 10px auto;
      padding: 10px;
    }
  }
  .contenidos {
    grid-area: contenido;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .contenido {
      display: flex;
      height: 140px;
      width: 100%;
      border-radius: 5px;
      border: 1px #444;
      text-align: center;
      flex-basis: 100%;
      margin: 5px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      a {
        font-size: 25px;
        align-self: center;
        line-height: 140px;
        text-align: center;
        height: 100%;
        width: 100%;
        color: white;
        text-decoration: none;
      }
    }
    .rojo {
      background-color: rgba(255, 0, 0, 0.952);
    }
    .azul {
      background-color: blue;
    }
    .gris {
      background-color: #444;
    }
    .verde {
      background-color: green;
    }
  }
  .footer {
    border-top: 2px solid black;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin: 0px auto;
      margin-top: -10px;
      height: 100px;
    }
  }
}
