.pagina {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: "cabecera" "contenido" "footer";
  .cabecera {
    grid-area: cabecera;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #880015;
    color: white;
    border-bottom: 2px solid black;
    h1 {
      font-weight: bold;
      font-size: 35px;
      margin: 10px auto;
      padding: 10px;
    }
  }
  .contenidos {
    grid-area: contenido;
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    .proyect {
      flex-grow: 1;
      width: 300px;
      margin-right: 30px;
      margin-bottom: 25px;
      border: 1px solid #ccc;
      img {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
      }
      .proyect-info a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        color: black;
        transition: all 300ms;
        padding: 7px;
      }
      .proyect-info a:hover {
        color: green;
      }
      .proyect-info p {
        color: gray;
        padding: 7px;
      }
    }
  }
  .footer {
    border-top: 2px solid black;
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    img {
      margin: 0px auto;
      height: 100px;
    }
  }
}
